/* .carousel-parent-div {
  width: 100%;
}
.branches {
  font-size: 50px;
  margin: 20px;
  font-weight: 500;
}
.carousel-img {
  height: 250px;
  width: 100%;
}

.country {
  font-size: 30px;
  color: white;
  text-align: center;
}
.carousel-div {
  border: 1px solid white;
  background-color: rgb(119, 52, 243);
  padding: 10px;
}
.carousel-div p {
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.slick-slide {
  margin-right: 15px;
}
 */

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 550px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
}

/*  */

.branches-header {
  font-size: 60px;
  color: white;
  text-align: center;
  margin-top: 40px;
  font-weight: 500;
}

.swiper-slide p {
  color: white;
  font-size: 18px;
}
.swiper-slide h1 {
  color: white;
  font-size: 25px;
}

.site-btn {
  background-color: rgb(111, 0, 255);
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 20px;
}
