.booking-div img {
  margin: auto;
  width: 75%;
}
.parent-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.executive-blank-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.executive-text {
  font-size: 30px;
  margin: 10px;
  color: white;
}
.product-name {
  font-size: 45px;
  color: white;
}
.text-description {
  font-size: 20px;
  width: 50%;
  margin-left: 150px;
  color: white;
}
.blank-div {
  background-color: rgb(111, 0, 255);
  width: 120px;
  height: 4px;
}
.person-price-div {
  color: white;
  width: 50%;
  margin: auto;
  font-size: 20px;
  margin-top: 20px;
  line-height: 35px;
}

.choose-another-room {
  background-color: rgb(91, 34, 248);
  padding: 20px;
  font-size: 30px;
  font-weight: 700;
  color: black;
  border-radius: 20px;
  margin-top: 10px;
}

.choose-another-room:hover {
  background-color: rgba(20, 12, 41, 0.952);
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 1100px) {
  .booking-div img {
    margin: auto;
    width: 100%;
  }
  .person-price-div {
    margin: 0%;
  }
}
@media screen and (max-width: 800px) {
  .person-price-div {
    margin: 0%;
  }
}
